#water {
  background: url(https://cdn.discordapp.com/attachments/522345297259659264/552144006046416906/water.png)
    no-repeat;
  background-size: 23%;
}

#telefon {
  background: url(https://cdn.discordapp.com/attachments/522345297259659264/552143993509642261/phone.png)
    no-repeat;
  background-size: 70%;
}
#lockpick {
  background: url(https://gamepedia.cursecdn.com/dayz_gamepedia/a/ac/Lockpick.png)
    no-repeat;
  background-size: 50%;
}

#lott {
  background: url(https://cdn.discordapp.com/attachments/522345297259659264/552143996256780288/trisslot.jpg)
    no-repeat;
  background-size: 50%;
}

#bread {
  background: url(http://www.pngmart.com/files/5/Hamburger-PNG-HD.png) no-repeat;
  background-size: 80%;
}

#WEAPON_PISTOL {
  background: url(http://pngimg.com/uploads/gun/gun_PNG1358.png) no-repeat;
  background-size: 80%;
}

#WEAPON_APPISTOL {
  background: url(https://vignette.wikia.nocookie.net/the-gta-online/images/3/34/APPistol-GTAV.png/revision/latest/scale-to-width-down/210?cb=20150519175336)
    no-repeat;
  background-size: 80%;
}

#WEAPON_HEAVYPISTOL {
  background: url(https://www.gtabase.com/images/gta-5/weapons/handguns/heavy-pistol.png)
    no-repeat;
  background-size: 230%;
}

#WEAPON_BAT {
  background: url(https://gamepedia.cursecdn.com/thedeadlinger_gamepedia/thumb/3/3c/Weapon_melee_baseballbat_wooden.png/150px-Weapon_melee_baseballbat_wooden.png?version=0c306666934df721bb14d98bba49c7a9)
    no-repeat;
  background-size: 70%;
}

#WEAPON_ASSAULTRIFLE {
  background: url(http://pngimg.com/uploads/ak47/ak47_PNG15471.png) no-repeat;
  background-size: 100%;
}
#alive_chicken {
  background: url(./icon/chicken.png) no-repeat;
  background-size: 100%;
}
#bandage {
  background: url(./icon/bandage.png) no-repeat;
  background-size: 100%;
}
#blowpipe {
  background: url(./icon/) no-repeat;
  background-size: 100%;
}
#cannabis {
  background: url(./icon/cannabis.png) no-repeat;
  background-size: 100%;
}
#carokit {
  background: url(./icon/carokit.png) no-repeat;
  background-size: 100%;
}
#carotool {
  background: url(./icon/carotool.png) no-repeat;
  background-size: 100%;
}
#chemicals {
  background: url(./icon/chemicals.png) no-repeat;
  background-size: 100%;
}
#chemicalslisence {
  background: url(./icon/chemicalslisence.png) no-repeat;
  background-size: 100%;
}
#clothe {
  background: url(./icon/clothe.png) no-repeat;
  background-size: 100%;
}
#coca_leaf {
  background: url(./icon/coca_leaf.png) no-repeat;
  background-size: 100%;
}
#coke {
  background: url(./icon/cocaine.png) no-repeat;
  background-size: 100%;
}
#copper {
  background: url(./icon/copper.png) no-repeat;
  background-size: 100%;
}
#cutted_wood {
  background: url(./icon/wood.png) no-repeat;
  background-size: 100%;
}
#diamond {
  background: url(./icon/diamond.png) no-repeat;
  background-size: 100%;
}
#essence {
  background: url(./icon/chemical-beaker.png) no-repeat;
  background-size: 100%;
}
#fabric {
  background: url(./icon/cloth.png) no-repeat;
  background-size: 100%;
}
#fish {
  background: url(./icon/fish.png) no-repeat;
  background-size: 100%;
}
#fixkit {
  background: url(./icon/repair.png) no-repeat;
  background-size: 100%;
}
#fixtool {
  background: url(./icon/repair_tool.png) no-repeat;
  background-size: 100%;
}
#gazbottle {
  background: url(./icon/gas.png) no-repeat;
  background-size: 100%;
}
#gold {
  background: url(./icon/gold.png) no-repeat;
  background-size: 100%;
}
#heroin {
  background: url(./icon/heroin.png) no-repeat;
  background-size: 100%;
}
#hydrochloric_acid {
  background: url(./icon/hcl.png) no-repeat;
  background-size: 100%;
}
#iron {
  background: url(./icon/iron.png) no-repeat;
  background-size: 100%;
}
#lsa {
  background: url(./icon/lsd.png) no-repeat;
  background-size: 100%;
}
#lsd {
  background: url(./icon/lsd.png) no-repeat;
  background-size: 100%;
}
#marijuana {
  background: url(./icon/cannabis.png) no-repeat;
  background-size: 100%;
}
#medikit {
  background: url(./icon/medi.png) no-repeat;
  background-size: 100%;
}
#meth {
  background: url(./icon/chemical-beaker.png) no-repeat;
  background-size: 100%;
}
#moneywash {
  background: url(./icon/money.png) no-repeat;
  background-size: 100%;
}
#packaged_chicken {
  background: url(./icon/chicken_cooked.png) no-repeat;
  background-size: 100%;
}
#packaged_plank {
  background: url(./icon/wood.png) no-repeat;
  background-size: 100%;
}
#petrol {
  background: url(./icon/petrol.png) no-repeat;
  background-size: 100%;
}
#petrol_raffin {
  background: url(./icon/petrol.png) no-repeat;
  background-size: 100%;
}
#poppyresin {
  background: url(http://pngimg.com/uploads/ak47/ak47_PNG15471.png) no-repeat;
  background-size: 100%;
}
#slaughtered_chicken {
  background: url(./icon/chicken_cooked.png) no-repeat;
  background-size: 100%;
}
#sodium_hydroxide {
  background: url(./icon/hcl.png) no-repeat;
  background-size: 100%;
}
#stone {
  background: url(./icon/stone.png) no-repeat;
  background-size: 100%;
}
#sulfuric_acid {
  background: url(./icon/hcl.png) no-repeat;
  background-size: 100%;
}
#thionyl_chloride {
  background: url(./icon/hcl.png) no-repeat;
  background-size: 100%;
}
#washed_stone {
  background: url(./icon/stone_washed.png) no-repeat;
  background-size: 100%;
}
#wood {
  background: url(./icon/wood.png) no-repeat;
  background-size: 100%;
}
#wool {
  background: url(./icon/wool.png) no-repeat;
  background-size: 100%;
}
